@import 'variables';
.btn {
	color: var(--secondary);
	padding: .8rem 2.4rem .7rem;
    border-top-left-radius: 2.8rem;
    border-top-right-radius: 2.8rem;
    border-bottom-left-radius: 2.8rem;
    border-bottom-right-radius: 2.8rem;
    line-height: 1rem;
    transition: all .3s linear;

    &:hover,
    &:focus {
    	color: var(--secondary);
    	outline: 0;
    }

    &-outline {
    	background-color: transparent;
    	border: 1px solid var(--secondary);
    }
	&-primary {
		background: var(--btn-primary);
		border: none;
		&:hover,
		&:focus {
			background: var(--btn-secondary);
		}

		&.btn-outline {
			border: 1px solid transparent;
			&:hover,
			&:focus {
				background-color: transparent;
    			border: 1px solid var(--secondary);
			}
		}
	}
    &-secondary {
		background: var(--btn-secondary);
		&:hover,
		&:focus {
			background: var(--btn-primary);
			border-color: transparent;
		}
	}
	&-secondary-white {
		color: var(--primary);
		background: var(--secondary);
		&:hover,
		&:focus {
			background: var(--btn-primary);
		}
	}

	&--custom {
		padding-top: 1.9rem;
	    padding-bottom: 1.8rem;
	    font-size: 1.6rem;
	    line-height: 1.9rem;
	}

	&--md {
	    min-width: 15.6rem;
	}
	&--lg {
	    min-width: 18.7rem;
	}
	&--xl {
	    min-width: 24.6rem;
	}
}